<div>
  <div>
    <form id="create-blab">
      <input id="blab-upvote" name="upvotes" type="hidden" value="1">
      <label for="blab-content">Hey, wanna write something stupid?</label>
      <textarea name="text" id="blab-content" rows="3" placeholder="Stupid goes here..."></textarea>
      <label for="blabber-email">Identify thyself</label>
      <input id="blabber-email" name="email" type="email" required placeholder="Enter your e-mail" autocomplete="on">
      <input type="submit" value="Blab it!"></input>
    </form>
  </div>
</div>
<br/>
<div>
  <div>
    <div>
      <img src="images/potato.png">
    </div>
    <div>
      <div>someone@somewhere.com</div>
      <div>saying something stupid</div>
    </div>
  </div>
</div>
