<div class="container-fluid">
  <div class="blah-blah"></div>
    <div class="bg-white">
      <form id="create-blab">
        <input id="blab-upvote" name="upvotes" type="hidden" value="1">
        
        <label class="blab-content-label" for="blab-content">Hey, wanna write something stupid?</label>
        <textarea class="blab-content-input" name="text" id="blab-content" rows="3" placeholder="Stupid goes here..."></textarea>
        
        <label class="blab-email-label" for="blabber-email">Identify thyself</label>
        <input class="blab-email-input" id="blabber-email" name="email" type="email" required placeholder="Enter your e-mail" autocomplete="on">

        <input class="blab-send-button" type="submit" value="Blab it!"></input>

      </form>

    </div>
  </div>
  <br/>
  <div class=" bg-white">

      <div class="blab-container">
          <div class="blab-image">
            <img class="media-object" src="images/potato.png">
          </div>
          <div class="blab-body">
            <div class="blab-email">someone@somewhere.com</div>
            <div class="blab-content">saying something stupid</div>

          </div>
        </div>
    </div>
  </div>

</div>