<div class="blah-blah"></div>
  <div class=" blabber-bg ">
    <h1>Welcome to Blabber!</h1>
    <p>Blabber is the stupitest application meant for people to say whatever they think for no reason at all</p>
    <a href="/blabs" class="blabber-enter" type="submit">Start</a>
  </div>
</div>

