html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 30px 0 0;
  font: 16px 'helvetica';
  color: #333;
  box-sizing: border-box;
}

.blah-blah {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg.jpg');
  background-size: 110%;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
}

.blabber-bg {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.1);
  max-width: 600px;
  margin: auto;
}

.blabber-enter {
  display: block;
  margin-top: 20px;
  border: 1px solid #ccc;  
  border-radius: 5px;
  background: #4CAF50;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 12px;  
}


.blab-email-label {
  width: 100%;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
}
.blab-email-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px 10px;
  display: block;
  box-sizing: border-box;
}
.blab-content-label {
  width: 100%;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;  
  display: block;
}
.blab-content-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px 10px;
  display: block;
  box-sizing: border-box;
}
.blab-send-button {
  width: 100%;
  display: block;
  margin-top: 20px;
  border: 1px solid #ccc;  
  border-radius: 5px;
  background: #4CAF50;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
}

.blab-container {
  width: 100%;
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.blab-container:last-of-type {
  border: none;
}

.blab-image {
  width: 80px;
  display: block;
  float: left;
  margin-right: 5px;
}

.blab-image img {
  width: 80px;
}

.blab-body {
  width: calc(100% - 90px);
  display: inline-block;
  min-height: 65px;
  padding: 15px 0 0;
}
.blab-email {
  padding: 0 5px;
  margin: -10px 0 0;
  font-weight: bold;
}
.blab-actions {
  padding: 5px;
  margin: 0;
}

.blab-actions a {
  font-size: 12px;
  color: #999;
  text-decoration: none;
}

.blab-actions a:hover {
  text-decoration: underline;
}

.blab-content {
  padding: 5px;
  margin: 0;
  color: #666;
}

